<HTML>

<HEAD>

<TITLE>Vishals title the GREAT VISHAL</TITLE>

</HEAD>

<BODY BGCOLOR="FFFFFF">

<CENTER><IMG SRC="./imgs/clouds.jpg" ALIGN="BOTTOM"> </CENTER>

<HR>

<a href="http://cnn.com">Link Name</a>

is a link to CNN news site

<H1>Header ten hunt</H1>

<H2>Medium header HUA</H2>

Send me mail at <a href="vishal.sharma@scientificgames.com">

vishal.sharma@scientificgames.com</a>.

<P> This is a new paragraph 1 !

<P> <B>This is a new paragraph ,LINE 2!</B>

<BR> <B><I>This is a new sentence without a paragraph break, in bold italics. WOW</I></B>

<HR>

</BODY>

</HTML>

 